@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #112e41;
}

ul {
  padding-left: unset;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-block: 8rem;
}

.sm-title {
  color: #e6292e;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-align: center;
  margin-block: 0;
}

.title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.73px;
  text-transform: uppercase;
  margin-top: 10px;
}

.header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  left: 0;
  top: 0;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(166, 209, 237, 0.8);
          box-shadow: 0px 0px 10px 0px rgba(166, 209, 237, 0.8);
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 380px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .navbar__logo {
  width: 110px;
}
.header .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header .navbar__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.header .navbar__link:hover::after {
  width: 65%;
}
.header .navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  border-radius: 10px;
  background-color: #1d63ad;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.home {
  height: 100vh;
  padding-top: 140px;
  position: relative;
}
.home::before, .home::after {
  position: absolute;
}
.home::before {
  content: url("../svg/home/red_triangle.svg");
  right: 10%;
  -webkit-filter: drop-shadow(-12px 4px 50px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-12px 4px 50px rgba(0, 0, 0, 0.25));
}
.home::after {
  content: url("../svg/home/blue_triangle.svg");
  bottom: -5px;
  left: 10%;
  -webkit-filter: drop-shadow(12px 4px 50px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(12px 4px 50px rgba(0, 0, 0, 0.25));
}
.home__title {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 5.2px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 75px;
  top: 50%;
  left: 50%;
}
.home__title::before {
  content: "";
  position: absolute;
  width: 10.507px;
  height: 100%;
  background-color: #1d63ad;
  left: -75px;
  bottom: 0;
}
.home__title::after {
  content: "";
  position: absolute;
  width: 11.558px;
  height: 35%;
  background-color: #e6292e;
  left: -65px;
  bottom: 0;
}
.home .circle {
  position: absolute;
}
.home .circle_1 {
  left: 50%;
  top: 180px;
  animation: circleAnimation1 6s ease-in-out infinite both alternate-reverse;
}
.home .circle_2 {
  left: 8%;
  top: 180px;
  animation: circleAnimation2 3s ease-in-out infinite both alternate-reverse;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.home .circle_3 {
  left: 55%;
  top: 780px;
  -webkit-animation: circleAnimation3 8s ease-in-out infinite both alternate;
          animation: circleAnimation3 8s ease-in-out infinite both alternate;
}
.home .circle_4 {
  right: 12%;
  top: 580px;
  -webkit-animation: circleAnimation4 5s ease-in-out infinite both alternate;
          animation: circleAnimation4 5s ease-in-out infinite both alternate;
}
.home .circle_5 {
  left: 12%;
  top: 750px;
  -webkit-animation: circleAnimation5 5s ease-in-out infinite both alternate;
          animation: circleAnimation5 5s ease-in-out infinite both alternate;
}
.home .circle_6 {
  top: 350px;
  left: 22%;
  -webkit-animation: circleAnimation6 4s ease-in-out infinite both alternate;
          animation: circleAnimation6 4s ease-in-out infinite both alternate;
}

@-webkit-keyframes circleAnimation1 {
  100% {
    left: 40%;
  }
}

@keyframes circleAnimation1 {
  100% {
    left: 40%;
  }
}
@-webkit-keyframes circleAnimation2 {
  100% {
    left: 12%;
    top: 280px;
  }
}
@keyframes circleAnimation2 {
  100% {
    left: 12%;
    top: 280px;
  }
}
@-webkit-keyframes circleAnimation3 {
  100% {
    left: 68%;
    top: 680px;
  }
}
@keyframes circleAnimation3 {
  100% {
    left: 68%;
    top: 680px;
  }
}
@-webkit-keyframes circleAnimation4 {
  100% {
    right: 10%;
    top: 380px;
  }
}
@keyframes circleAnimation4 {
  100% {
    right: 10%;
    top: 380px;
  }
}
@-webkit-keyframes circleAnimation5 {
  100% {
    left: 8%;
    top: 850px;
  }
}
@keyframes circleAnimation5 {
  100% {
    left: 8%;
    top: 850px;
  }
}
@-webkit-keyframes circleAnimation6 {
  100% {
    top: 550px;
  }
}
@keyframes circleAnimation6 {
  100% {
    top: 550px;
  }
}
.services {
  background-color: #f7f7f7;
  overflow: hidden;
}
.services .container {
  position: relative;
}
.services .container::before, .services .container::after {
  position: absolute;
  top: 10%;
}
.services .container::before {
  content: url(../svg/services/Vector_left.svg);
  left: -35%;
  top: 10%;
}
.services .container::after {
  content: url(../svg/services/Vector_right.svg);
  right: -30%;
  top: 30%;
}
.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-top: 90px;
  position: relative;
  z-index: 2;
}
.services__flex .service {
  padding: 70px 20px 50px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(166, 209, 237, 0.25);
          box-shadow: 0px 5px 35px 0px rgba(166, 209, 237, 0.25);
  position: relative;
}
.services__flex .service::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  z-index: -80;
}
.services__flex .service:hover::after {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}
.services__flex .service:nth-of-type(1)::after {
  background-color: #E60B7A;
}
.services__flex .service:nth-of-type(2)::after {
  background-color: #2F9784;
}
.services__flex .service:nth-of-type(3)::after {
  background-color: #F38D21;
}
.services__flex .service:nth-of-type(4)::after {
  background-color: #06A7E0;
}
.services__flex .service .service__img {
  display: block;
  margin-inline: auto;
}
.services__flex .service .service__title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.33px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-block: 25px 20px;
}
.services__flex .service .service__paragraph {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.27px;
  line-height: 1.4;
}