@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding-left: unset;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  left: 0;
  top: 0;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(166, 209, 237, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(166, 209, 237, 0.3);
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 380px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .navbar__logo {
  width: 110px;
}
.header .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header .navbar__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.header .navbar__link:hover::after {
  width: 65%;
}
.header .navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  border-radius: 10px;
  background-color: #1d63ad;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.home {
  height: 100vh;
  padding-top: 140px;
  position: relative;
}
.home::before, .home::after {
  position: absolute;
}
.home::before {
  content: url("/svg/home/red_triangle.svg");
  right: 10%;
  -webkit-filter: drop-shadow(-12px 4px 50px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-12px 4px 50px rgba(0, 0, 0, 0.25));
}
.home::after {
  content: url("/svg/home/blue_triangle.svg");
  bottom: -5px;
  left: 10%;
  -webkit-filter: drop-shadow(12px 4px 50px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(12px 4px 50px rgba(0, 0, 0, 0.25));
}
.home__title {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 5.2px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 75px;
  top: 50%;
  left: 50%;
}
.home__title::before {
  content: "";
  position: absolute;
  width: 10.507px;
  height: 100%;
  background-color: #1d63ad;
  left: -75px;
  bottom: 0;
}
.home__title::after {
  content: "";
  position: absolute;
  width: 11.558px;
  height: 35%;
  background-color: #e6292e;
  left: -65px;
  bottom: 0;
}
.home .circle {
  position: absolute;
}
.home .circle_1 {
  left: 50%;
  top: 180px;
  animation: circleAnimation1 6s ease-in-out infinite both alternate-reverse;
}
.home .circle_2 {
  left: 8%;
  top: 180px;
  animation: circleAnimation2 3s ease-in-out infinite both alternate-reverse;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.home .circle_3 {
  left: 55%;
  top: 780px;
  -webkit-animation: circleAnimation3 8s ease-in-out infinite both alternate;
          animation: circleAnimation3 8s ease-in-out infinite both alternate;
}
.home .circle_4 {
  right: 12%;
  top: 580px;
  -webkit-animation: circleAnimation4 5s ease-in-out infinite both alternate;
          animation: circleAnimation4 5s ease-in-out infinite both alternate;
}
.home .circle_5 {
  left: 12%;
  top: 750px;
  -webkit-animation: circleAnimation5 5s ease-in-out infinite both alternate;
          animation: circleAnimation5 5s ease-in-out infinite both alternate;
}
.home .circle_6 {
  top: 350px;
  left: 22%;
  -webkit-animation: circleAnimation6 4s ease-in-out infinite both alternate;
          animation: circleAnimation6 4s ease-in-out infinite both alternate;
}

@-webkit-keyframes circleAnimation1 {
  100% {
    left: 40%;
  }
}

@keyframes circleAnimation1 {
  100% {
    left: 40%;
  }
}
@-webkit-keyframes circleAnimation2 {
  100% {
    left: 12%;
    top: 280px;
  }
}
@keyframes circleAnimation2 {
  100% {
    left: 12%;
    top: 280px;
  }
}
@-webkit-keyframes circleAnimation3 {
  100% {
    left: 68%;
    top: 680px;
  }
}
@keyframes circleAnimation3 {
  100% {
    left: 68%;
    top: 680px;
  }
}
@-webkit-keyframes circleAnimation4 {
  100% {
    right: 10%;
    top: 380px;
  }
}
@keyframes circleAnimation4 {
  100% {
    right: 10%;
    top: 380px;
  }
}
@-webkit-keyframes circleAnimation5 {
  100% {
    left: 8%;
    top: 850px;
  }
}
@keyframes circleAnimation5 {
  100% {
    left: 8%;
    top: 850px;
  }
}
@-webkit-keyframes circleAnimation6 {
  100% {
    top: 550px;
  }
}
@keyframes circleAnimation6 {
  100% {
    top: 550px;
  }
}