$Poppins: "Poppins", sans-serif;
$Oswald: "Oswald", sans-serif;
$Roboto: "Roboto", sans-serif;
$Monda: "Poppins", sans-serif;
$OpenSans: "Roboto", sans-serif;

$blueColor: #1d63ad;
$redColor: #e6292e;
$bodyColor: #112e41;
$sectionColor: #f7f7f7;

$colorIconOne: #E60B7A;
$colorIconTwo: #2F9784;
$colorIconThree: #F38D21;
$colorIconFour: #06A7E0;

$navHeight: 140px;
