$Poppins: "Poppins", sans-serif;
$Oswald: "Oswald", sans-serif;
$Roboto: "Roboto", sans-serif;
$Monda: "Poppins", sans-serif;
$OpenSans: "Roboto", sans-serif;
$Lexend: "Lexend", sans-serif;

$blueColor: #1d63ad;
$redColor: #e6292e;
$bodyColor: #112e41;
$sectionColor: #f7f7f7;

$colorIconOne: #e60b7a;
$colorIconTwo: #2f9784;
$colorIconThree: #f38d21;
$colorIconFour: #06a7e0;

$navHeight: 140px;

