.projects {
  .projects__grid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 5px;
    .project {
      position: relative;
      background-size: cover;
      background-position: center center;
      overflow: hidden;
      &__overlay {
        position: absolute;
        top: -120%;
        left: 0;
        background-color: rgba($color: #112e41, $alpha: 0.7);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 50px;
        transition: 250ms ease-in-out;
        h4 {
          color: #fff;
          font-family: $Roboto;
          font-size: 42px;
          font-weight: 700;
          letter-spacing: 2.5px;
          text-transform: uppercase;
          text-align: center;
          line-height: normal;
        }
      }
      &:hover .project__overlay {
        top: 0;
      }
      &:first-of-type {
        background-image: url(../img/projects/projectOne.png);
        height: 490px;
      }
      &:last-of-type {
        background-image: url(../img/projects/projectSix.png);
        height: 730px;
        margin-top: -255px;
      }
      &:nth-of-type(2) {
        background-image: url(../img/projects/projectTwo.png);
        height: 720px;
      }
      &:nth-of-type(3) {
        background-image: url(../img/projects/projectThree.png);
        height: 700px;
        margin-top: -230px;
      }
      &:nth-of-type(4) {
        background-image: url(../img/projects/projectFour.png);
        height: 215px;
      }
      &:nth-of-type(5) {
        background-image: url(../img/projects/projectFive.png);
        height: 475px;
      }
    }
  }
}
